In [545]:
import warnings
warnings.filterwarnings('ignore')
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import OneHotEncoder
import random
import os
from sklearn.metrics import log_loss

In [546]:
d = "C:\kaggle_data\credit_card"
lst = os.listdir(d)
print(lst)
train = pd.read_csv(d + '\\' +lst[3])
test = pd.read_csv(d + '\\' +lst[2])
ss = pd.read_csv(d + '\\' +lst[1])
train = train.drop(['index'], axis=1)
train.fillna('NAN', inplace=True) 
test = test.drop(['index'], axis=1)
test.fillna('NAN', inplace=True)

['.ipynb_checkpoints', 'sample_submission.csv', 'test.csv', 'train.csv', 'Untitled.ipynb']

# 전처리

### family_type
- 'Married', 'Civil marriage'
- 'Separated',  'Widow'
- 'Single / not married'

In [547]:
# Married, Civil marriage
train['income_per_size'] = np.log(train['income_total']/train['family_size'])
test['income_per_size'] = np.log(test['income_total']/test['family_size'])
train.loc[(train['family_type']=='Married')|(train['family_type']=='Civil marriage'),'income_per_size']\
= train['income_per_size'] * 2

test.loc[(test['family_type']=='Married')|(test['family_type']=='Civil marriage'),'income_per_size']\
= test['income_per_size'] * 2

In [548]:
def simple_marry(x):
    if x == 'Married' or x =='Civil marriage':
        return '0'
    elif x == 'Separated' or x == 'Widow':
        return '1'
    else:
        return '2'

In [549]:
# 안 덮어쓰기
for df in [train,test]:
    df['family_bins'] = df['family_type'].apply(simple_marry)

In [550]:
# income_total을 로그변환
train['income_total'] = np.log(train['income_total'])
test['income_total'] = np.log(test['income_total'])

In [551]:
# car와 reality를 합친 새로운 칼럼 careality
train['car'] =train['car'].apply(lambda x: int(x=='Y'))
train['reality'] =train['reality'].apply(lambda x: int(x=='Y'))
test['car'] =test['car'].apply(lambda x: int(x=='Y'))
test['reality'] =test['reality'].apply(lambda x: int(x=='Y'))

train['careality'] = train['car'] + train['reality']
train = train.drop(['car', 'reality'],1)

test['careality'] = test['car'] + test['reality']
test = test.drop(['car', 'reality'],1)

In [552]:
object_col = []
for col in train.columns:
    if train[col].dtype == 'object':
        object_col.append(col)

In [553]:
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train.drop(object_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [554]:
test_onehot_df = pd.DataFrame(enc.transform(test.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test.drop(object_col, axis=1, inplace=True)
test = pd.concat([test, test_onehot_df], axis=1)

# 
- income_per_size 정규화
- feature 추가(binary)
- 두개 다

In [555]:
# # 15.75
# # -0.92


# ## 제곱
# for df in [train,test]:
#     df['income_per_size'] = df['income_per_size'].apply(lambda x: x**2)
    
    

c = 'income_per_size'
mean = 15.75
std = train[c].std()
# 기존 
train[c] = (train[c]-mean)/std
test[c] = (test[c]-mean)/std


# for df in [train,test]:
#     df['ips_bin'] = df['income_per_size'].apply(lambda x: int(x>=-1.0357))

In [556]:
# train['ips_bin'].value_counts()

In [557]:
#####################
c = 'income_total'
k = 2.2
mean = train[c].mean()
std = train[c].std()
idxs = train.loc[(train[c]>= mean + k*std)|\
                (train[c]<= mean - k*std)].index
train = train.drop(idxs).reset_index(drop=True)

# 기존 
train[c] = (train[c]-mean)/std
test[c] = (test[c]-mean)/std
# # 새로운
# mean = train[c].mean()
# std = train[c].std()
# train[c] = (train[c]-mean)/std
# test[c] = (test[c]-mean)/std

In [558]:
#####################
c = 'begin_month'
k = 2.2
mean = train[c].mean()
std = train[c].std()
idxs = train.loc[(train[c]>= mean + k*std)|\
                (train[c]<= mean - k*std)].index
train = train.drop(idxs).reset_index(drop=True)

# 기존 
train[c] = (train[c]-mean)/std
test[c] = (test[c]-mean)/std
# # 새로운
# mean = train[c].mean()
# std = train[c].std()
# train[c] = (train[c]-mean)/std
# test[c] = (test[c]-mean)/std

In [559]:
######################
c = 'DAYS_BIRTH'
k = 2.2
mean = train[c].mean()
std = train[c].std()
idxs = train.loc[(train[c]>= mean + k*std)|\
                (train[c]<= mean - k*std)].index
train = train.drop(idxs).reset_index(drop=True)

#기존 
train[c] = (train[c]-mean)/std
test[c] = (test[c]-mean)/std
# ## 새로운
# mean = train[c].mean()
# std = train[c].std()
# train[c] = (train[c]-mean)/std
# test[c] = (test[c]-mean)/std

In [560]:
# out: 아웃라이어
out_train = train.loc[train.DAYS_EMPLOYED>0]
in_train = train.loc[train.DAYS_EMPLOYED<=0]


out_test = test.loc[test.DAYS_EMPLOYED>0]
in_test = test.loc[test.DAYS_EMPLOYED<=0]

<!-- ###
- DAYS_EMPLOYED -->

# 모델링, 학습

In [561]:
out_train = out_train.reset_index()
in_train = in_train.reset_index()

out_test = out_test.reset_index()
in_test = in_test.reset_index()

In [562]:
idx_out_train = out_train.pop('index')
idx_out_test = out_test.pop('index')

idx_in_train = in_train.pop('index')
idx_in_test = in_test.pop('index')

In [563]:
###################
c = 'DAYS_EMPLOYED'
k = 2.2
mean = in_train[c].mean()
std = in_train[c].std()
idxs = in_train.loc[(in_train[c]>= mean + k*std)|\
                (in_train[c]<= mean - k*std)].index
in_train = in_train.drop(idxs).reset_index(drop=True)

# 기존 
train[c] = (train[c]-mean)/std
test[c] = (test[c]-mean)/std
# # 새로운
# mean = train[c].mean()
# std = train[c].std()
# train[c] = (train[c]-mean)/std
# test[c] = (test[c]-mean)/std

In [564]:
len(train.columns)

58

In [565]:
out_train.drop('DAYS_EMPLOYED',inplace=True,axis=1)
out_test.drop('DAYS_EMPLOYED',inplace=True,axis=1)

In [566]:
out_train.head()

,child_num,income_total,DAYS_BIRTH,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit,...,occyp_type_NAN,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff,family_bins_0,family_bins_1,family_bins_2
0,0,-0.114150,-1.670540,1,0,1,0,1.0,-0.896630,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,0.542746,-1.716051,1,0,0,0,2.0,-0.655166,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,-0.114150,-1.272859,1,0,1,0,2.0,1.155818,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,0.408522,-1.536868,1,0,1,0,1.0,1.276550,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,-0.434746,-1.236403,1,0,1,0,1.0,0.129594,2.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [567]:
def tr(train):
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    folds=[]
    losses=[]
    for train_idx, valid_idx in skf.split(train, train['credit']):
        folds.append((train_idx, valid_idx))
    random.seed(42)
    lgb_models={}
    for fold in range(5):
        print(f'===================================={fold+1}============================================')
        train_idx, valid_idx = folds[fold]
        X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                             train['credit'][train_idx].values, train['credit'][valid_idx].values 
        lgb = LGBMClassifier(n_estimators=1000)
        lgb.fit(X_train, y_train, 
                eval_set=[(X_train, y_train), (X_valid, y_valid)], 
                early_stopping_rounds=30,
               verbose=100)
        lgb_models[fold]=lgb
        losses.append(log_loss(y_valid, lgb.predict_proba(X_valid)))
        print(f'================================================================================\n\n')
    ls = sum(losses)/5
    print(ls)
    return ls, lgb_models

In [568]:
out_loss, out_models = tr(out_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.40523	valid_1's multi_logloss: 0.728498
Early stopping, best iteration is:
[81]	training's multi_logloss: 0.444258	valid_1's multi_logloss: 0.725201
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[45]	training's multi_logloss: 0.535478	valid_1's multi_logloss: 0.748793
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[46]	training's multi_logloss: 0.53242	valid_1's multi_logloss: 0.740544
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[52]	training's multi_logloss: 0.517721	valid_1's multi_logloss: 0.741964
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[55]	training's multi_logloss: 0.503188	valid_1's multi_logloss: 0.742867
================================================================================


0.739873725695487

In [569]:
in_loss, in_models = tr(in_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.611289	valid_1's multi_logloss: 0.758488
[200]	training's multi_logloss: 0.504928	valid_1's multi_logloss: 0.750391
Early stopping, best iteration is:
[202]	training's multi_logloss: 0.50332	valid_1's multi_logloss: 0.750364
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.610537	valid_1's multi_logloss: 0.745913
[200]	training's multi_logloss: 0.512214	valid_1's multi_logloss: 0.734727
Early stopping, best iteration is:
[203]	training's multi_logloss: 0.509703	valid_1's multi_logloss: 0.734347
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.613365	valid_1's multi_logloss: 0.743605
[200]	training's multi_logloss: 0.511575	valid_1's multi_logloss: 0.730118
Early stopping, best iteration is:
[215]	training's multi_logloss: 0.499971	valid_1's multi_logloss: 0.729529
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.616978	valid_1's multi_logloss: 0.747292
[200]	training's multi_logloss: 0.515621	valid_1's multi_logloss: 0.731302
Early stopping, best iteration is:
[261]	training's multi_logloss: 0.467217	valid_1's multi_logloss: 0.728233
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.609537	valid_1's multi_logloss: 0.733693
[200]	training's multi_logloss: 0.512204	valid_1's multi_logloss: 0.720847
Early stopping, best iteration is:
[195]	training's multi_logloss: 0.516208	valid_1's multi_logloss: 0.720676
================================================================================


0.732629847481416

In [570]:
### 기존의 평균 표준편차 사용 정규화
# 0.7398746001125598 
# 0.731703572697814  

# binary feature
# 0.7447143745928957 0.005 증가
# 0.7332622413020282 0.002 증가

# 정규화
# 0.7398098658534071 0.00007 감소
# 0.7318043493395331 0.0001 증가

# 둘 다

# 0.7398098658534071 0.00007 감소
# 0.7318043493395331 0.0001 증가


### ips 제곱하고 정규화
# 0.739873725695487  0.00000~ 감소
# 0.7316585777211151 0.0001 감소


####  마지막
0.739873725695487
0.7316585777211151




# 0.7447143745928957 0.005 증가
# 0.7332622413020282 0.002 증가

0.7316585777211151

In [571]:
print(in_loss)

0.732629847481416

In [572]:
in_zeros = np.zeros([len(in_test),3])
for fold in range(5):
    in_zeros += in_models[fold].predict_proba(in_test)/5
in_output = pd.DataFrame(in_zeros)
in_output = in_output.reindex(index=pd.Index(idx_in_test))

In [573]:
out_zeros = np.zeros([len(out_test),3])
for fold in range(5):
    out_zeros += out_models[fold].predict_proba(out_test)/5
out_output = pd.DataFrame(out_zeros)
out_output = out_output.reindex(index=pd.Index(idx_out_test))

In [574]:
in2 = np.concatenate((in_zeros,np.array(idx_in_test).reshape(-1,1)),axis=1)
out2 = np.concatenate((out_zeros,np.array(idx_out_test).reshape(-1,1)),axis=1)

In [575]:
output = pd.DataFrame(np.concatenate((in2,out2),axis=0),columns=[0,1,2,'index'])

In [576]:
output['index'] = output['index'].astype('int')

In [577]:
ss = pd.read_csv(d + '\\' +lst[1])

In [578]:
for i in range(len(output)):
    row = output.loc[output['index']==i]
    ss.iloc[i,1:] = row.iloc[:,:3]

In [542]:
output

             0         1         2  index
0     0.062828  0.191752  0.745420      1
1     0.032589  0.089144  0.878267      2
2     0.102613  0.152621  0.744766      3
3     0.057014  0.132279  0.810707      4
4     0.068987  0.150207  0.780806      5
...        ...       ...       ...    ...
9995  0.041787  0.069135  0.889078   9968
9996  0.105639  0.093216  0.801145   9981
9997  0.136455  0.192172  0.671373   9988
9998  0.209772  0.156927  0.633302   9992
9999  0.087452  0.904122  0.008426   9994

[10000 rows x 4 columns]

In [543]:
ss

      index         0         1         2
0     26457  0.042361  0.134593  0.823046
1     26458  0.062828  0.191752  0.745420
2     26459  0.032589  0.089144  0.878267
3     26460  0.102613  0.152621  0.744766
4     26461  0.057014  0.132279  0.810707
...     ...       ...       ...       ...
9995  36452  0.132921  0.180514  0.686566
9996  36453  0.150146  0.256415  0.593439
9997  36454  0.167065  0.112755  0.720180
9998  36455  0.063589  0.174449  0.761962
9999  36456  0.073330  0.127409  0.799261

[10000 rows x 4 columns]

In [579]:
ss.to_csv('05_16_1.csv', index=False)

In [205]:
output.head()

          0         1         2  index
0  0.254328  0.176459  0.569213      1
1  0.037702  0.077119  0.885179      2
2  0.150319  0.105418  0.744263      3
3  0.074441  0.168475  0.757084      4
4  0.057947  0.112467  0.829586      5

In [206]:
output.tail()

             0         1         2  index
9995  0.045256  0.062820  0.891924   9968
9996  0.113289  0.091170  0.795541   9981
9997  0.162660  0.185026  0.652315   9988
9998  0.231756  0.133885  0.634359   9992
9999  0.083838  0.910228  0.005934   9994