- income 로그 해서 
- birth 그대로
- employed: outlier제거에서는 1/5제곱
- begin_month k=2, or not

In [69]:
import warnings
warnings.filterwarnings('ignore')
import glob
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from lightgbm import LGBMClassifier
from sklearn.model_selection import StratifiedKFold
from sklearn.preprocessing import OneHotEncoder
import random
import os
from sklearn.metrics import log_loss

In [70]:
d = "C:\kaggle_data\credit_card"
lst = os.listdir(d)
print(lst)
train = pd.read_csv(d + '\\' +lst[3])
test = pd.read_csv(d + '\\' +lst[2])
ss = pd.read_csv(d + '\\' +lst[1])
train = train.drop(['index'], axis=1)
train.fillna('NAN', inplace=True) 
test = test.drop(['index'], axis=1)
test.fillna('NAN', inplace=True)

['.ipynb_checkpoints', 'sample_submission.csv', 'test.csv', 'train.csv', 'Untitled.ipynb']

# 전처리

### family_type
- 'Married', 'Civil marriage'
- 'Separated',  'Widow'
- 'Single / not married'

In [71]:
train['identity'] = [str(i) + str(j) + str(k) + str(l) + str(m) for i,j,k,l,m in zip(train['gender'],train['income_total'],train['income_type'],train['DAYS_BIRTH'],train['DAYS_EMPLOYED'])]
test['identity'] = [str(i) + str(j) + str(k) + str(l) + str(m) for i,j,k,l,m in zip(test['gender'],test['income_total'],test['income_type'],test['DAYS_BIRTH'],test['DAYS_EMPLOYED'])]

In [72]:
# Married, Civil marriage
train['income_per_size'] = np.log(train['income_total']/train['family_size'])
test['income_per_size'] = np.log(test['income_total']/test['family_size'])
train.loc[(train['family_type']=='Married')|(train['family_type']=='Civil marriage'),'income_per_size']\
= train['income_per_size'] * 2

test.loc[(test['family_type']=='Married')|(test['family_type']=='Civil marriage'),'income_per_size']\
= test['income_per_size'] * 2

In [73]:
def simple_marry(x):
    if x == 'Married' or x =='Civil marriage':
        return '0'
    elif x == 'Separated' or x == 'Widow':
        return '1'
    else:
        return '2'

In [74]:
# 안 덮어쓰기
for df in [train,test]:
    df['family_bins'] = df['family_type'].apply(simple_marry)

In [75]:
# income_total을 로그변환 한 새로운 feature log_income
# 기존 칼럼 삭제
train['log_income'] = np.log(train['income_total'])
train = train.drop('income_total',1)
test['log_income'] = np.log(test['income_total'])
test = test.drop('income_total',1)

In [76]:
# car와 reality를 합친 새로운 칼럼 careality
train['car'] =train['car'].apply(lambda x: int(x=='Y'))
train['reality'] =train['reality'].apply(lambda x: int(x=='Y'))
test['car'] =test['car'].apply(lambda x: int(x=='Y'))
test['reality'] =test['reality'].apply(lambda x: int(x=='Y'))

train['careality'] = train['car'] + train['reality']
train = train.drop(['car', 'reality'],1)

test['careality'] = test['car'] + test['reality']
test = test.drop(['car', 'reality'],1)

In [77]:
train.loc[train['identity'].duplicated()==False,'dup?'] = 1
test.loc[test['identity'].duplicated()==False,'dup?'] = 1

In [78]:
train.drop('identity',1,inplace=True)
test.drop('identity',1,inplace=True)

1. careality int
2.

In [80]:
object_col = []
for col in train.columns:
    if train[col].dtype == 'object':
        object_col.append(col)

In [82]:
enc = OneHotEncoder()
enc.fit(train.loc[:,object_col])


train_onehot_df = pd.DataFrame(enc.transform(train.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
train.drop(object_col, axis=1, inplace=True)
train = pd.concat([train, train_onehot_df], axis=1)

In [83]:
test_onehot_df = pd.DataFrame(enc.transform(test.loc[:,object_col]).toarray(), 
             columns=enc.get_feature_names(object_col))
test.drop(object_col, axis=1, inplace=True)
test = pd.concat([test, test_onehot_df], axis=1)

In [93]:
train = train.fillna(0)
test = test.fillna(0)

In [94]:
# out: 아웃라이어
out_train = train.loc[train.DAYS_EMPLOYED>0]
in_train = train.loc[train.DAYS_EMPLOYED<=0]


out_test = test.loc[test.DAYS_EMPLOYED>0]
in_test = test.loc[test.DAYS_EMPLOYED<=0]

# 모델링, 학습

In [98]:
out_train = out_train.reset_index()
in_train = in_train.reset_index()

out_test = out_test.reset_index()
in_test = in_test.reset_index()

In [99]:
idx_out_train = out_train.pop('index')
idx_out_test = out_test.pop('index')

idx_in_train = in_train.pop('index')
idx_in_test = in_test.pop('index')

In [100]:
train['dup?']

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
26452    0.0
26453    1.0
26454    1.0
26455    1.0
26456    1.0
Name: dup?, Length: 26457, dtype: float64

In [101]:
out_train.drop('DAYS_EMPLOYED',inplace=True,axis=1)
out_test.drop('DAYS_EMPLOYED',inplace=True,axis=1)

In [102]:
out_train.head()

,child_num,DAYS_BIRTH,FLAG_MOBIL,work_phone,phone,email,family_size,begin_month,credit,income_per_size,...,occyp_type_NAN,occyp_type_Private service staff,occyp_type_Realty agents,occyp_type_Sales staff,occyp_type_Secretaries,occyp_type_Security staff,occyp_type_Waiters/barmen staff,family_bins_0,family_bins_1,family_bins_2
0,0,-22922,1,0,1,0,1.0,-41.0,2.0,11.967181,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,-23113,1,0,0,0,2.0,-37.0,2.0,23.179773,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0,-21253,1,0,1,0,2.0,-7.0,2.0,22.548067,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0,-22361,1,0,1,0,1.0,-5.0,2.0,12.218495,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0,-21100,1,0,1,0,1.0,-24.0,2.0,11.813030,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [103]:
def tr(train):
    skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)
    folds=[]
    losses=[]
    for train_idx, valid_idx in skf.split(train, train['credit']):
        folds.append((train_idx, valid_idx))
    random.seed(42)
    lgb_models={}
    for fold in range(5):
        print(f'===================================={fold+1}============================================')
        train_idx, valid_idx = folds[fold]
        X_train, X_valid, y_train, y_valid = train.drop(['credit'],axis=1).iloc[train_idx].values, train.drop(['credit'],axis=1).iloc[valid_idx].values,\
                                             train['credit'][train_idx].values, train['credit'][valid_idx].values 
        lgb = LGBMClassifier(n_estimators=1000)
        lgb.fit(X_train, y_train, 
                eval_set=[(X_train, y_train), (X_valid, y_valid)], 
                early_stopping_rounds=30,
               verbose=100)
        lgb_models[fold]=lgb
        losses.append(log_loss(y_valid, lgb.predict_proba(X_valid)))
        print(f'================================================================================\n\n')
    print(sum(losses)/5)
    return lgb_models

In [104]:
out_models = tr(out_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[58]	training's multi_logloss: 0.496716	valid_1's multi_logloss: 0.739877
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[49]	training's multi_logloss: 0.530126	valid_1's multi_logloss: 0.773769
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
Early stopping, best iteration is:
[56]	training's multi_logloss: 0.498337	valid_1's multi_logloss: 0.75401
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.408138	valid_1's multi_logloss: 0.73105
Early stopping, best iteration is:
[99]	training's multi_logloss: 0.410364	valid_1's multi_logloss: 0.729589
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.403747	valid_1's multi_logloss: 0.769558
Early stopping, best iteration is:
[75]	training's multi_logloss: 0.455811	valid_1's multi_logloss: 0.760397
================================================================================


0.7515285144063514

In [105]:
in_models = tr(in_train)

====================================1============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.6199	valid_1's multi_logloss: 0.743525
[200]	training's multi_logloss: 0.522654	valid_1's multi_logloss: 0.731144
[300]	training's multi_logloss: 0.451157	valid_1's multi_logloss: 0.728589
Early stopping, best iteration is:
[280]	training's multi_logloss: 0.463408	valid_1's multi_logloss: 0.72778
================================================================================


====================================2============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.621985	valid_1's multi_logloss: 0.73714
[200]	training's multi_logloss: 0.521004	valid_1's multi_logloss: 0.720821
[300]	training's multi_logloss: 0.447154	valid_1's multi_logloss: 0.719367
Early stopping, best iteration is:
[286]	training's multi_logloss: 0.456001	valid_1's multi_logloss: 0.71867
================================================================================


====================================3============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.613886	valid_1's multi_logloss: 0.75618
[200]	training's multi_logloss: 0.514543	valid_1's multi_logloss: 0.74193
Early stopping, best iteration is:
[236]	training's multi_logloss: 0.487251	valid_1's multi_logloss: 0.741354
================================================================================


====================================4============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.621842	valid_1's multi_logloss: 0.749897
[200]	training's multi_logloss: 0.523044	valid_1's multi_logloss: 0.739881
Early stopping, best iteration is:
[189]	training's multi_logloss: 0.531522	valid_1's multi_logloss: 0.739177
================================================================================


====================================5============================================
Training until validation scores don't improve for 30 rounds
[100]	training's multi_logloss: 0.615575	valid_1's multi_logloss: 0.748468
[200]	training's multi_logloss: 0.518111	valid_1's multi_logloss: 0.738863
Early stopping, best iteration is:
[190]	training's multi_logloss: 0.525961	valid_1's multi_logloss: 0.738664
================================================================================


0.7331290265861139

In [106]:
in_zeros = np.zeros([len(in_test),3])
for fold in range(5):
    in_zeros += in_models[fold].predict_proba(in_test)/5
in_output = pd.DataFrame(in_zeros)
in_output = in_output.reindex(index=pd.Index(idx_in_test))

In [108]:
out_zeros = np.zeros([len(out_test),3])
for fold in range(5):
    out_zeros += out_models[fold].predict_proba(out_test)/5
out_output = pd.DataFrame(out_zeros)
out_output = out_output.reindex(index=pd.Index(idx_out_test))

In [109]:
in2 = np.concatenate((in_zeros,np.array(idx_in_test).reshape(-1,1)),axis=1)
out2 = np.concatenate((out_zeros,np.array(idx_out_test).reshape(-1,1)),axis=1)

In [110]:
output = pd.DataFrame(np.concatenate((in2,out2),axis=0),columns=[0,1,2,'index'])

In [111]:
output['index'] = output['index'].astype('int')

In [114]:
for i in range(len(output)):
    row = output.loc[output['index']==i]
    ss.iloc[i,1:] = row.iloc[:,:3]

In [115]:
output

             0         1         2  index
0     0.215151  0.178549  0.606300      1
1     0.045467  0.087540  0.866993      2
2     0.109295  0.144608  0.746097      3
3     0.063648  0.188414  0.747937      4
4     0.051567  0.136829  0.811603      5
...        ...       ...       ...    ...
9995  0.047485  0.073033  0.879482   9968
9996  0.118025  0.073764  0.808210   9981
9997  0.117762  0.133884  0.748354   9988
9998  0.240910  0.154016  0.605075   9992
9999  0.097392  0.894258  0.008350   9994

[10000 rows x 4 columns]

In [116]:
ss

      index         0         1         2
0     26457  0.039413  0.101293  0.859294
1     26458  0.215151  0.178549  0.606300
2     26459  0.045467  0.087540  0.866993
3     26460  0.109295  0.144608  0.746097
4     26461  0.063648  0.188414  0.747937
...     ...       ...       ...       ...
9995  36452  0.153376  0.226862  0.619762
9996  36453  0.152042  0.284366  0.563591
9997  36454  0.019057  0.056848  0.924096
9998  36455  0.086584  0.178962  0.734454
9999  36456  0.044290  0.106113  0.849598

[10000 rows x 4 columns]

In [117]:
ss.to_csv('dup_or_not.csv', index=False)